* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*styling of nav bar */

.navbar {
  border-bottom: solid 1px white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px;
  background-color: #ffffff4f;
}
.brand-name {
  font-size: 25px;
}
.navbar-links ul {
  margin: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
  padding: 30px;
  font-size: 20px;
}
.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 0px 20px;
  display: block;
}
.navbar-links li a:hover {
  color: #afba95;
}

/*toggle bar and button styling*/

.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/*social links*/
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.be-social i {
  font-size: 20px;
  padding: 20px;
}

/*introduction part styling */

.wrapper-start {
  background: url('lady-hair.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1000px;
  max-width: 2000px;
  background-position: center;
  display: block;
}
.hero_introduction {
  background-color: rgba(124, 109, 109, 0.349);
  max-width: 2000px;
  height: 800px;
  margin: 0px auto;
}

.primary_heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 350px;
  letter-spacing: 10px;
}

.main_heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 30px;
  letter-spacing: 10px;
}
.secondary_heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 3px;
  display: block;
  line-height: 1.5;
  max-width: 400px;
}

.main_heading:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  padding-top: 20px;
  border-bottom: 1px solid white;
}

/*intoruction button styling*/

.introduction_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_contact {
  display: flex;
  padding: 10px 60px;
  font-size: 15px;
  margin: 30px 20px;
  border-radius: 1px;
  background-color: #ffffff28;
  color: white;
  border: solid 1px white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.button_services {
  display: flex;
  padding: 10px 60px;
  font-size: 15px;
  margin: 30px 20px;
  border-radius: 1px;
  background-color: #b79492;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.button_services:hover,
.button_contact:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/*styling of hero_business-summary*/

.hero_business-summary {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  display: block;
}
.business_summary-content {
  display: flex;
  margin: 100px 0px 80px 0px;
}

.services_summary,
.gallery_summary,
.price_summary {
  font-family: 'Montserrat', sans-serif;
  padding: 0px 70px 0px 70px;
  text-align: center;
}
.summary-title {
}
